@import "../util/variables.scss";

.main-title {
  color: $text-high;
  font-size: 3rem;
  margin-block: 2rem 1rem;
}

.main-subtitle {
  color: $text-low;
  font-size: 2rem;
  margin-block: 1rem 3rem;
  * {
    margin: 0;
  }
}

.project-feed {
  list-style: none;
  padding: 0;

  .feed-item {
    padding-left: 1rem;
    .feed-item-title * {
      color: $main-color;
      font-weight: normal;
    }
    .feed-item-content {
      display: grid;
      gap: 1rem;
      grid-template-columns: 1fr;
      color: $text-low;
      text-align: center;
      .feed-item-icon {
        width: 10rem;
        grid-row: 2;
        margin: auto;
      }
      .info-summary {
        font-size: 1.2rem;
      }
      .info-footer {
        .readmore {
          font-weight: lighter;
          margin-left: 1rem;
        }
      }
    }
  }
  @media screen and (min-width: 468px) {
    .feed-item {
      .feed-item-content {
        grid-template-columns: auto 1fr;
        text-align: left;
        .feed-item-icon {
          grid-row: 2;
        }
        .info-summary {
          grid-column: span 2;
        }
        .info-footer {
          grid-column: span 2;
          text-align: right;
        }
      }
    }
  }
  @media screen and (min-width: 768px) {
    .feed-item {
      .feed-item-content {
        .feed-item-icon {
          margin-right: 2rem;
          grid-row: span 2;
        }
        .info-summary {
          grid-column: 2;
        }
        .info-footer {
          grid-column: span 2;
        }
      }
    }
  }
}
