{% extends "base.html" %} {% block html_lang %}{{ article.lang }}{% endblock %}
{% block title %}{{ SITENAME }} - {{ article.title|striptags }}{% endblock %} {%
block head %} {{ super() }}
<link rel="stylesheet" href="/theme/css/util/devicon.css" />  
<link rel="stylesheet" href="/theme/css/module/project.css" />
<link rel="stylesheet" href="/theme/css/module/project_info.css" />
{% import 'translations.html' as translations with context %} {% if
translations.entry_hreflang(article) %} {{ translations.entry_hreflang(article)
}} {% endif %} {% if article.description %}
<meta name="description" content="{{article.description}}" />
{% endif %} {% for tag in article.tags %}
<meta name="tags" content="{{tag}}" />
{% endfor %} {% endblock %} {% block content %}
<main class="main wrap">
  <div class="helper">
    <a href="/">{% trans %}Home{% endtrans %}</a> > <a href="/category/project">{% trans %}Projects{% endtrans %}</a> > <a href="">{{ article.title }}</a>
  </div>
  <section class="container">
    <h2 class="container-title">
      <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
    </h2>
    {% include 'project.html' %}
  </section>
</main>
{% endblock %}
