<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
  <head>
    {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <meta charset="utf-8" />
    <meta name="generator" content="Pelican" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/theme/images/icon.png" />
    <link rel="stylesheet" href="/theme/css/util/spectral.css" />
    <link rel="stylesheet" href="/theme/css/main.css" />
    {% if FEED_ALL_ATOM %}
    <link
      href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}"
      type="application/atom+xml"
      rel="alternate"
      title="{{ SITENAME }} Full Atom Feed"
    />
    {% endif %} {% if FEED_ALL_RSS %}
    <link
      href="{{ FEED_DOMAIN }}/{% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}"
      type="application/rss+xml"
      rel="alternate"
      title="{{ SITENAME }} Full RSS Feed"
    />
    {% endif %} {% if FEED_ATOM %}
    <link
      href="{{ FEED_DOMAIN }}/{%if FEED_ATOM_URL %}{{ FEED_ATOM_URL }}{% else %}{{ FEED_ATOM }}{% endif %}"
      type="application/atom+xml"
      rel="alternate"
      title="{{ SITENAME }} Atom Feed"
    />
    {% endif %} {% if FEED_RSS %}
    <link
      href="{{ FEED_DOMAIN }}/{% if FEED_RSS_URL %}{{ FEED_RSS_URL }}{% else %}{{ FEED_RSS }}{% endif %}"
      type="application/rss+xml"
      rel="alternate"
      title="{{ SITENAME }} RSS Feed"
    />
    {% endif %} {% if CATEGORY_FEED_ATOM and category %}
    <link
      href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_ATOM_URL %}{{ CATEGORY_FEED_ATOM_URL.format(slug=category.slug) }}{% else %}{{ CATEGORY_FEED_ATOM.format(slug=category.slug) }}{% endif %}"
      type="application/atom+xml"
      rel="alternate"
      title="{{ SITENAME }} Categories Atom Feed"
    />
    {% endif %} {% if CATEGORY_FEED_RSS and category %}
    <link
      href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_RSS_URL %}{{ CATEGORY_FEED_RSS_URL.format(slug=category.slug) }}{% else %}{{ CATEGORY_FEED_RSS.format(slug=category.slug) }}{% endif %}"
      type="application/rss+xml"
      rel="alternate"
      title="{{ SITENAME }} Categories RSS Feed"
    />
    {% endif %} {% if TAG_FEED_ATOM and tag %}
    <link
      href="{{ FEED_DOMAIN }}/{% if TAG_FEED_ATOM_URL %}{{ TAG_FEED_ATOM_URL.format(slug=tag.slug) }}{% else %}{{ TAG_FEED_ATOM.format(slug=tag.slug) }}{% endif %}"
      type="application/atom+xml"
      rel="alternate"
      title="{{ SITENAME }} Tags Atom Feed"
    />
    {% endif %} {% if TAG_FEED_RSS and tag %}
    <link
      href="{{ FEED_DOMAIN }}/{% if TAG_FEED_RSS_URL %}{{ TAG_FEED_RSS_URL.format(slug=tag.slug) }}{% else %}{{ TAG_FEED_RSS.format(slug=tag.slug) }}{% endif %}"
      type="application/rss+xml"
      rel="alternate"
      title="{{ SITENAME }} Tags RSS Feed"
    />
    {% endif %} {% endblock head %}
  </head>

  <body id="index" class="home">
    <nav class="main-nav">
      <div class="wrap">
        <div class="nav-left">
          <div class="web-logo-wrapper">
            <a href="{{ SITEURL }}" class="nav-item web-logo"
              ><img class="logo" src="/theme/images/logo.svg" />
              <p class="name"><span class="decoration">9</span>ekaitz</p></a
            >
            <label for="toggle-checkbox" id="nav-toggle"
              ><svg id="toggle-icon-menu" viewBox="0 0 24 24">
                <path
                  fill="currentColor"
                  d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z"
                /></svg
            ></label>
          </div>
          <input
            id="toggle-checkbox"
            class="toggle-checkbox"
            type="checkbox"
            checked
          />
          <a href="{{ SITEURL }}/parking" class="nav-item"
            ><span class="nav-item-content"
              >{% trans %} PROJECTS {% endtrans %}</span
            ></a
          >
          <a href="{{ SITEURL }}/parking" class="nav-item"
            ><span class="nav-item-content"
              >{% trans %}ARTICLES{% endtrans %}</span
            ></a
          >
          <a href="{{ SITEURL }}/parking" class="nav-item"
            ><span class="nav-item-content"
              >{% trans %}ABOUT{% endtrans %}</span
            ></a
          >
          <div class="nav-item lang-selector">
            <span class="nav-item-content">
              <a
                href="{{ SITEURL | replace('/eu', '') }}/{{ output_file }}"
                class="lang left {% if DEFAULT_LANG == 'en' %}current{% endif %}"
                ><span>en</span></a
              ><a
                href="{{ SITEURL }}/{% if DEFAULT_LANG == 'en' %}eu/{% endif %}{{ output_file }}"
                class="lang right {% if DEFAULT_LANG == 'eu' %}current{% endif %}"
                ><span>eu</span></a
              >
            </span>
          </div>
        </div>
      </div>
    </nav>
    {% block content %} {% endblock %}
    <footer class="footer">
      <div class="wrap">
        <span>
          {% trans %}Proudly powered by <a class="pelican-link" href="https://getpelican.com">Pelican</a>{% endtrans %}
        </span>
        <a href="https://codeberg.org/ekaitz/personal-web" class="web-source"
          ><i class="devicon-codeberg"></i
        ></a>
      </div>
    </footer>
  </body>
</html>
