{% extends "base.html" %} {% block head %} {{ super() }}
<link rel="stylesheet" href="/theme/css/util/devicon.css" />
<link rel="stylesheet" href="/theme/css/module/project.css" />
<link rel="stylesheet" href="/theme/css/module/project_info.css" />
<link rel="stylesheet" href="/theme/css/page/index.css" />
{% endblock head %} {% block content %}
<main class="main wrap">
  <h1 class="main-title">{% trans %}Hi, I'm Ekaitz{% endtrans %}</h1>
  <div class="main-subtitle">
    <p>
      {% trans %}I'm currently finishing my<br />
      Bachelor's Degree in computer engineering<br />
      I'm a FOSS and cybersecurity enthusiast{% endtrans %}
    </p>
  </div>
  {% if articles %} {% for article in articles_page.object_list %} {# First item
  #} {% if loop.first and not articles_page.has_previous() %}
  <section class="container">
    <h2 class="container-title">
      <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
    </h2>
    {% include 'project.html' %}
  </section>
  {% if loop.length > 1 %}
  <section class="container">
    <h2 class="container-title">{% trans %}Other projects{% endtrans %}</h2>
    <hr class="double-spacer" />
    <ul class="project-feed">
      {% endif %} {% else %} {% if loop.first %}
      <section class="container">
        <ul class="project-feed">
          {% endif %}
          <li>
            <article class="feed-item">
              <h2 class="feed-item-title">
                <a
                  href="{{ SITEURL }}/{{ article.url }}"
                  rel="bookmark"
                  title="Permalink to {{ article.title|striptags }}"
                  >{{ article.title }}</a
                >
              </h2>
              <div class="feed-item-content">
                <img class="feed-item-icon" src="{{ article.icon }}" />
                  {% include 'project_info.html' %}
                  <div class="info-footer">
                    <abbr class="published" title="{{ article.date.isoformat() }}">
                      {% trans %}Published:{% endtrans %} {{ article.locale_date }}
                    </abbr>
                    <a class="readmore" href="{{ SITEURL }}/{{ article.url }}"
                      >{% trans %}read more{% endtrans %}</a
                    >
                  </div>
              </div>
            </article>
          </li>
          <hr class="single-spacer" />
  {% endif %} {% if loop.last %} {% if loop.length > 1 or
          articles_page.has_other_pages() %}
        </ul>
        {% if articles_page.has_other_pages() %} {% include 'pagination.html' %}
        {% endif %}
      </section>
      {% endif %} {% endif %} {% endfor %} {% else %}
      <section id="content" class="body">
        <p>This site currently has no content.</p>
      </section>
      {% endif %} 
</main>
{% endblock content %}