{% extends "base.html" %} {% block head %} {{ super() }}
<link rel="stylesheet" href="/theme/css/util/devicon.css" />
<link rel="stylesheet" href="/theme/css/page/parking.css" />
{% endblock head %} {% block content %}
<main class="main wrap">
  <img src="/theme/images/work.svg" />
</main>
{% endblock content %}