<div class="info-summary">{{ article.summary }}</div>

<div class="metadata">
  {% if article.authors %}
  <address class="vcard author">
    By {% for author in article.authors %}
    <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
    {% endfor %}
  </address>
  {% endif %}
  <p>
    {% trans %}Category:{% endtrans %}
    <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a
    >.
  </p>
  {% if article.tags %}
  <p>
    {% trans %}Tags:{% endtrans %} {% for tag in article.tags %}<a
      href="{{ SITEURL }}/{{ tag.url }}"
      >{{ tag | escape }}</a
    >
    {% endfor %}
  </p>
  {% endif %}
  <p class="source-info">
    {% trans %}Source code available at:{% endtrans %}
    {% for source in article.sources %}
    <a class="source-link" href="{{ source.url }}"
      >{{ source.text }}<i class="devicon-{{ source.remote }}"></i
    ></a>
    {% if not loop.last %}|{% endif %}
    {% endfor %}
  </p>
</div>
