<article class="project">
  <img class="project-icon" src="{{ article.icon }}" />
  <div class="info-header">{% include 'project_info.html' %}</div>
  {% if article.tech %}
  <div class="project-aside">
    <h3 class="project-aside-title">{% trans %}Technologies:{% endtrans %}</h3>
    {% for tech in article.tech %}
    <i class="devicon-{{ tech }}"></i>
    {% endfor %}
  </div>
  {% endif %}

  <div class="project-content">{{ article.content }}</div>
  <div class="project-footer">
    <abbr class="published" title="{{ article.date.isoformat() }}">
      {% trans %}Published:{% endtrans %} {{ article.locale_date }}
    </abbr>
    {% if article.modified %}
    <abbr class="modified" title="{{ article.modified.isoformat() }}">
      Updated: {{ article.locale_modified }}
    </abbr>
    {% endif %}
  </div>
</article>
