.info-header {
  color: rgba(255, 255, 255, 0.6);
}

.info-summary {
  color: rgba(255, 255, 255, 0.8705882353);
  font-size: 1.5rem;
}

.source-info {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  flex-wrap: wrap;
}
.source-info .source-link {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  text-decoration: none;
}
.source-info .source-link [class^=devicon-] {
  font-weight: lighter;
  display: inline-block;
  height: 1.5rem;
}
.source-info .source-link [class^=devicon-]::before {
  width: 1.5rem;
  height: 1.5rem;
}
.source-info .source-link:hover {
  text-decoration: underline;
}/*# sourceMappingURL=project_info.css.map */