@font-face {
  font-family: "Spectral";
  src: url("/theme/fonts/Spectral-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Spectral";
  src: url("/theme/fonts/Spectral-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Spectral";
  src: url("/theme/fonts/Spectral-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Spectral";
  src: url("/theme/fonts/Spectral-Light.ttf");
  font-weight: 200;
  font-style: normal;
}
